:root {
    --red:#ea5353;
    --cyan: #45d3d3;
    --orange: #fcaf4a;
    --blue: #549ef2;
    --grey-500: #4c4e61;
    --grey-400: #697077;
    --grey-980: #FAFAFA;
    --white: #ffffff;
    --spacing-500-40: 4rem;
    --spacing-400-32: 3.2rem;
    --spacing-300-24: 2.4rem;
    --spacing-200-16: 1.6rem;
    --spacing-100-8: 0.8rem;
}

* {box-sizing: border-box;}

html {
    font-size: 10px;   
}

body {
    font-family: Poppins, serif;
    background-color: var(--grey-980);
}
header {
    text-align: center;
}
h1 span {
    display:block;
}

hgroup {
    width: calc(100% - 2 * var(--spacing-300-24));
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 10px 20px -10px var(--grey-400);
    margin: var(--spacing-500-40) auto;
    padding: var(--spacing-400-32);
    position: relative;
}
hgroup h2 {
    margin: 0;
}
hgroup p {
    margin: var(--spacing-100-8) 0 0 0;
}
hgroup img {
    height: 50px;
    width: 50px;
}
hgroup .icon-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing-400-32);
}
.text-preset-1 {
    font-weight: 600;
    font-size: min(6.3vw, 3.6rem);
    line-height: 140%;
    letter-spacing: 0.25px;
}
.text-preset-2 {
    font-weight: 200;
    font-size: min(6.3vw, 3.6rem);
    line-height: 140%;
    letter-spacing: px;
}
.text-preset-3 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 135%;
    letter-spacing: 0;
}
.text-preset-4 {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
}
.text-preset-5 {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 160%;
    letter-spacing: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }